/* Reset some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Apply a background color and font to the entire page */
body {
    
    font-family: Arial, sans-serif;
}

/* Style the container */
.container {
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

/* Style the header */
header {
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
    font-weight: bold;
}

/* Style the navigation links */
header a {
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
    color:rgb(80, 77, 77);
    
}

/* Style the first section */
.first {
    display: grid;
    grid-template-columns: 1fr 0.55fr; /* Two equal columns */
    align-items: center;
    
    padding: 50px 0 0 25px;
    background-color: rgb(207, 240, 240);
    padding-bottom: 20px;
}

h1 {
    font-size: 46px;   
}


/* Style the second section */
.second {
    display: grid;
    grid-template-columns: 1fr 1.2fr; /* Two equal columns */
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 25px 0;
    padding-left: 25px;;
    background-color: rgb(248, 252, 253);
    
}


p {
    font-size: 22px;
    
}


/* Style the "why choose medisphere" section */
section .second h3 {
    font-size: 24px;
  
}

section .second p {
    font-size: 16px;
    
    line-height: 1.5;
}
img{
    height:400px;
    width:450px;
    border-radius: 350px;
}
/*section three*/
.three{
    display: grid;
    grid-template-columns: 1fr 0.8fr; /* Two equal columns */
    align-items: center;
    background-color: rgb(190, 226, 238);
    padding: 50px 0;
    padding-left: 25px;
    margin-bottom: 20px;

}

/*section 4*/
.four{
    display: grid;
    grid-template-columns: 1fr 1.5fr; /* Two equal columns */
    align-items: center;
    text-align: center;
    padding: 50px 0;
    background-color:rgb(251, 253, 253) ;
    padding-left: 25px;
}

/*contact info*/
form input,form textarea,form label{
    display:block;
    margin:10px;
    padding:10px;
    text-align: left;
    border-radius: 5px;
    height:20px;
    width:500px;
}
button{
    height:40px;
    width:90px;
    background-color:rgb(4, 4, 34);
    color:white;
}
.contact{
    padding:50px;
    background-color: rgb(220, 245, 248);
    margin:50px;
}
.tg{
    font-size: 22px;
    font-weight: 100;
}
#top,#to{
    background-color:white;
    color:rgb(87, 86, 87);
    border:2px solid rgb(244, 239, 244);
    height:40px;
    width:150px;
    font-size: 18px;
    font-weight:bold;
  
}



.transition{
    font-size: 58px;
    transition: font-size 2s, color 4s;
}
.transition:hover{
    font-size:78px;
    color: rgb(19, 74, 108);

}
/*from flask import Flask,render_template,request
import sqlite3

app=Flask(__name__)

@app.route("/login", methods =["GET","POST"])
def login():
    msg=None
    if(request.method=="POST"):
        if(request.form["Name"]!="" and request.form["Email"]!="" and request.form["password"]!="" ):
            Name=request.form["Name"]
            Email=request.form["Email"]
            password=request.form["password"]
            conn=sqlite3.connect("loginfo.db")
            c=conn.cursor()
            c.execute("CREATE TABLE PERSON (Name TEXT,Email VARCHAR,password TEXT)")
            c.execute("INSERT INTO PERSON VALUES('"+Name+"','"+Email+"','"+password+"')")
            msg="You have successfully logged in"
            conn.commit
            conn.close
        else:
            msg="Please fill all the entries"

    return render_template("login.html",msg=msg)

if __name__=="main":
    app.run()*/